@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=VT323&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

header {
  padding-top: 40px;
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 2rem;

  width: 100vw;
  height: 100px;
}

main {
  width: 900px;
}

body {
  font-family: "VT323", monospace;
  background-color: #292f3b;
  color: azure;
}

#btn-play-again {
  position: absolute;
  left: 10%;
  transform: translate(-40%, -10%);
  margin-left: 20px;
  height: 5em;
  width: 11em;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.5s;
  background-color: #fbc02d;
  font-family: "VT323", monospace;
}

#btn-play-again:hover {
  transform: scale(1.1) translate(-40%, -10%);
  transition: 0.5s;
}

#score-board-status {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.score {
  font-size: 25px;
}

#score-board-status > h2,
#score-board-status > h3 {
  height: 80px;
  margin: 20px;
  font-family: "VT323", monospace;
}

.score-container {
  padding-top: 40px;
}

.score-container p {
  width: 120px;
  height: 50px;
  text-align: center;
  border-bottom: 3px solid whitesmoke;
}

.score-container,
.flexbox-container {
  display: flex;
  justify-content: center; /*horizontally centers the 3 elements inside the flexbox container 
  and makes equal space on either side of them.*/
  align-items: center;
}
.flexbox-container {
  padding-bottom: 50px;
}

#round-result-reason {
  text-align: center;
  display: flex;
  align-items: center;
}

#player-result,
#computer-result {
  text-align: center;
  height: 180px;
  width: 200px;
  padding: 20px;
  margin: 3%;
  font-size: 650%;
  border-radius: 100px;
}

#vs {
  text-align: center;
  width: 120px;
  font-size: 30px;
}

.all-boxes {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  margin: 30px;
  background-color: grey;
}

.rock-box,
.paper-box,
.scissors-box {
  transition: transform 0.5s ease-in-out;
  font-size: 10rem;
  text-align: center;
}

.rock-box:hover {
  background-color: #fbc02d;
}

.paper-box:hover {
  background-color: #fbc02d;
}

.scissors-box:hover {
  background-color: #fbc02d;
}

.hidden {
  display: none;
}
